@charset "utf-8";
/* CSS Document */
div.pic{
	float:left;
	height:160px; width:160px;
	padding:0px;
}
div.pic img{
	border:1px solid #FF0;
}
div.ls{
	background-color:#FFC:
}
div.pt{
	background-color:#FFC;
}
div.ls img{
	margin:0px;
	height:90px;
	width:130px;
}
div.pt img{
	margin:0px;
	height:135px;
	width:90px;
}
div.pic ul{
	display:none}
div.pt a{
	display:block;
	padding:11px 36px 14px 34px;
}
div.ls a:hover{
	background-color:#FC0;}
div.pt a:hover{
	background-color:#FC0;}
	