@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Lato', sans-serif;
 }
body a
{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6，p
{
	margin:0;			   
}	
ul
{
margin:0;
padding:0;
}
/*-------------div-----------*/
.header{
background:#1a1818;
min-height:60px;
border-bottom:3px solid #a70101;
padding:1em;
position:relative;
}

	
.header-left
{
float:left;
}
.header-right{
float:right;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

.top-menu{
margin-top: 4px;
}

.top-menu ul li{
display:inline-block;
}
.top-menu ul li a{
display:block;
padding:0.5em 0.5em 0 0.5em;
color:#fff;
text-decoration:none;
font-size:1em;
margin:0 5px;
border-bottom:2px solid #1a1818;
}
.top-menu ul li a:hover,.top-menu ul li.active a{
border-bottom:2px solid #fff;
}

.currency{
margin-top:12px;
}
.currency i {
width: 18px;
height: 18px;
background: url('../images/currency.png') no-repeat 0px 0px;
display: inline-block;
border-bottom:2px solid #1a1818;
}
.currency i:hover,.active i,.signin ul li.active a{
border-bottom:2px solid #fff;
}

.signin{
margin-left:3em;
border-bottom:2px solid #1a1818;
}
.cart-sec{
vertical-align:super;
display:inline-block;
margin-right:3px;
}
.cart-sec a{
color:#fff;
text-decoration:none;
}
.cart-sec a:hover{
color: #f1b63e;
}
.cart-sec a img{
padding-bottom:3px;
}
.signin ul li a:hover {
color: #f1b63e;
border-bottom:2px solid #f1b63e;
}
.signin ul li a {
margin-right: 5px;
}
.signin ul li a{
color: #fff;
font-size: 13px;
font-weight: 600;
text-decoration: none;
}
/*--- slider-css --*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.banner-info{
	width: 56%;
	position: absolute;
	top: 35%;
	left: 20%;
	text-align:center;
}
.banner-info h3{
	color: #FFF;
	font-weight: 700;
	font-size:5em;
	text-transform: uppercase;
}
.banner-info p{
	color: #FFF;
	line-height: 1.5em;
	font-size: 1.2em;
	width:70%;
	margin:0 auto;
	text-align: center;
	padding:1em 0 1.5em 0;
}

.tab-section{
background:#efefef;
padding:3em 0;
}

.wrap{
width:90%;
margin:0 auto;
}

div#horizontalTab {
		padding-top: 0em;
	}